

    
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
*{

font-family: Open Sans 
}  
h1{
color:#f2f7f8;
border-radius: 8px;
border: 1px solid #f2f7f8;
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;


}

.titulo{

    display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
}

body {
background-image: url(https://img.wallpapic-br.com/i9744-323-737/thumb/espaco-sideral-lua-planeta-terra-imagem-de-fundo.jpg);
background-size: cover;

}
img{
    margin-left: 500px;
    margin-bottom: 200px;
    align-items:right; 
    height:200 px;
    Width:300;
}


p{
color: aliceblue;

}
p{
font-size: 20px;

}

a{
color: #f2f7f8;
border: 1px solid #f2f7f8;
padding: 8px;
border-radius: 8px;
}


